#canvas{
  width: 1440px;
  height: 10000px;
  margin: 0 auto;
  position: relative;
}

/*#counter{
  border: 2px solid blue;
  background-color: blue;
  color: white;
  width: 200px;
  height: 30px;
  left: 90px;
  top: 123px;
  position: absolute;
  z-index: 10;
  opacity: 0.5;
}*/

h1{
  font-family: 'Frijole', cursive;
  font-size: 80px;
  margin-left: 430px;
  /*width: 200px;
  height: 30px;*/
  top: 700px;
  z-index: 10;




}
/*gradient background*/
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc026+0,efc026+3,6bbfc6+3,2989d8+56,1e5799+100 */
background: #efc026; /* Old browsers */
background: -moz-linear-gradient(top, #efc026 0%, #efc026 3%, #6bbfc6 3%, #2989d8 56%, #1e5799 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #efc026 0%,#efc026 3%,#6bbfc6 3%,#2989d8 56%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #efc026 0%,#efc026 3%,#6bbfc6 3%,#2989d8 56%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc026', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

#wave {
  width:1440px;
  height: 50px;
  top: 250px;
  position: absolute;
  background-image:url(http://lostworldsfairs.com/atlantis/img/bg_backwave.png)
}

#submarine {
  position: absolute;
  top: 300px;
  left: 50%;
  margin-left: -200px;
  z-index: 11;
}

#rocks {
  position: absolute;
  top: 300px;
  z-index: 10;
}

#bubbles {
  position: absolute;
  top:900px;
  z-index: 12;

}

#text {
  position: absolute;
  top: 500px;
  z-index: 13;
}

#clouds {
  position: absolute;
  top: 50px;
  z-index: 9;
}
